
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
:root{
    --primary-color : #026BED;
    --secondary-color : #1c3fa8 ;
    --dark-color : #002240 ;
    --light-color  : #F4F4F4;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat' , sans-serif;
    line-height: 1.6;
    color: #333;
}   
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
/* Navbar */
.navbar h1{
    margin: 10px 5px;
    padding: 0 30px;
}
.navbar{
background-color: var(--primary-color);
color: white;
height: 70px;
width: 100%;
}

.navbar .flex{
    justify-content: space-between;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar ul{
    
    display: flex;
}
.hidden {
    visibility: hidden;
    height: 0;
}
/* showcase */
.showcase{
    height: 400px;
    
    background-color: var(--primary-color);
    color: #fff;
}
.showcase-text h1, .showcase-text p{
    margin: 10px 5px;
    padding: 0 30px;
}
.showcase .grid {
    overflow:visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form{
    position: relative;
    color: gray;
    top: 60px ;
    height: 400px;
    width: 400px ;
    padding: 40px;
}
.showcase-form .form-control {
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    width: 100%;
    border: none;
    border-bottom: 2px rgba(0 , 0 , 0 , 0.2) solid;
}
.showcase-form input:focus {
    outline: none;
}
/* states */
.states {
    padding-top: 100px;
}

.states-heading{
max-width: 550px;
    margin: auto;
}

.states .grid h3{
    font-size: 35px;
}
.states .grid-3 p{
    color: var(--primary-color);
}

.states .grid p {
    font-size: 24px;
    font-weight: bold;
}

/* CLI */

.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 , 1fr);
}

.cli .grid img{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.cli .card {
    width: 90%;
    
}

/* Cloud */ 

.cloud .grid {
    grid-template-columns: 3fr 2fr;
}

/* Languages */
.languages .flex{
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    transition: transform 0.2s ease-in;

}
.languages .card h4{
    font-size: 20px;
    margin: 10px;
}
.languages .card:hover{
    transform: translateY(-15px);
}
/* Footer */

.footer .container {
    max-width: 100%;
}
.footer h1{
    padding-left: 30px;
}

.social a {
    margin: 0 10px;
}
.social i{
    transition: transform 0.2s ease-in;
}
.social i:hover{
    transform: translateY(-5px);
}

/* Feature */

/* Feature shoecase */

.feature-showcase img{
    width: 200px;
   justify-self: flex-end;
}
.feature-showcase h1,h2, p{
    margin: 10px 5px;
    padding: 0 30px;
}
.feature-showcase .grid {
    grid-template-columns: 3fr 2fr;
}

/* feature subhead */
.feature-subhead{
    padding : 30px
}
.feature-subhead .grid {
    grid-template-columns: 3fr 2fr;
}
.feature-subhead img{
    width: 275px;
    justify-self: flex-end;
}

/* fature discrebtion */
.decreption .grid{
    padding: 30px;
    align-items: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

.decreption  .card {
    height: auto;
    transition: transform 0.2s ease-in;
}
.decreption  .card:hover{
    transform: translateY(-10px);
}

.one {
    grid-column: 1 / span 3;
}
.two {
    grid-column: 1 / span 2;
}

/* Docs showcase */

.docs-showcase img{
    width: 200px;
    justify-self: flex-end;
}
.docs-showcase h1,h2, p{
    margin: 10px 5px;
    padding: 0 30px;
}
.docs-showcase .grid {
    justify-items: unset;
}

/* Info */
.info .grid{
    grid-template-columns: 1fr 3fr;
    overflow-x: hidden;
    align-items: unset;
 }
.side-nav .card {
    width: 300px;
    padding: 20px;
}
.info i {
    margin: 0px 20px;
}
.info .card h3 {
  
    text-align: left;
}
.info li {
    color :var(--dark-color);
    margin: 20px 0;
    border-bottom: 1px rgba(0 , 0 , 0 , 0.2) solid;
    
}
.info li:hover {
    font-weight: bold;
}

/* Insraction */

.instraction .flex{
    background-color: var(--primary-color);
    color: white;
}
.instraction .card h3{
    margin: 30px;
}
.instraction input{
    padding: 10px 40px;
    font-size: 15px;
    margin: 0 30px ;
}

.code{
    font-family: 'Source Code Pro';
    font-style: italic;
    background-color: #333333;
    color: white;
    font-size: 2px;
    padding: 10px 40px;
}
/* Tablet and under */
@media (max-width : 768px){
   .grid,
   .showcase .grid,
   .states .grid,
   .cli .grid,
   .cloud .grid,
   .decreption .grid,
   .feature-subhead .grid,
   .feature-showcase .grid,
   .info .grid, 
   .docs-showcase .grid
   {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
   }

   .showcase{
       height: auto;
   }
   .cli .grid img{
    grid-column: 1;
    grid-row: 1   
    
    
    
}
    .subhead-text {
        padding: 0;
    }
   .one{
    grid-column: 1;
     
}
  .two{
    grid-column: 1;
    
}
 .navbar .container{
     overflow:hidden;
 }
 .feature-subhead img{
    justify-self: center;
}
.feature-showcase img{
justify-self: center;
}
.docs-showcase img , h1 , p {
    text-align: center;
    justify-self: center ;
}
   
}

/* phone */

@media (max-width : 500px){
    .navbar{
        height: 100px;
    }
    .navbar .flex{
        flex-direction:column;
    }
    
 .showcase-form {
    width: 300px;
  }
  .feature-showcase h1,h2,p{
      text-align: center;
  }
  .feature-subhead img{
    width: 250px;
}
}



